*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(147, 147, 240);
  padding: 40px;
}
.faq {
  max-width: 1000px;
  margin: auto;
}
.faq input {
  display: none;
}
.faq label {
  background: orange;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  position: relative;
  margin-bottom: 4px;
  margin-top: 4px; 
}
.faq label::before{
  content: "+";
  font-size: 30px;
  margin-right: 11px;
  display: inline-block;
}
.faq .content {
  background: rgb(191, 184, 184);
  overflow: hidden;
  opacity: 0;
  padding: 0 20px;
  transition: all 0.4s ease;
  border: 2px solid white;
}
.faq input:checked + label::before {
  content: "−";
}
.faq input:checked + label + .content {
  max-height: 400px;
  opacity: 2;
  padding: 47px;
}