.shape {
    width: 50px;
    height: 50px;
    background: red;
    position: relative;
    transform: rotate(-45deg);
}
.wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(400%);
}
.shape::before {
    content: "";
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    border-radius: 50%;
    top: -25px;
    left: 0;
}
.shape::after {
    content: "";
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    border-radius: 50%;
    left: 25px;
    top: 0;
}
