* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: color gray;
    font-family: sans-serif;
}
.calculator{
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 320px;
    border: 1px solid black;
    border-radius: 11px;
    box-shadow: 0px 8px 20px black;
    padding: 29px;
}
.display {
    display: flex;
    justify-content: flex-end;
    color: black;
    height: 50px;
    border: 1px solid black;
    padding: 11px;
    align-items: center;
    border-radius: 11px;
    font-size: large;
}
.keypad {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    cursor: pointer;
    height: 56px;
    flex: 1 1 22%;
    background-color: rgb(213, 242, 252);
    font-weight: 700;
    border: 1px solid black;
    min-width: 40px;
    box-shadow: 0px 5px 10px rgb(197, 195, 195);
    transition: background 0.15s ease; transform: 0.05s ease;
}
.btn:active {
    transform: scale(0.74);
}
.btn--operator {
    background: rgb(202, 202, 202);
}
.btn--accent {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    cursor: pointer;
    height: 56px;
    flex: 1 1 22%;
    background-color: rgb(213, 242, 252);
    font-weight: 600;
    border: 1px solid black;
    min-width: 40px;
    box-shadow: 0px 5px 10px rgb(197, 195, 195);
}
.btn--danger {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    cursor: pointer;
    height: 56px;
    flex: 1 1 22%;
    background-color: rgb(213, 242, 252);
    font-weight: 500;
    border: 1px solid black;
    min-width: 40px;
    box-shadow: 0px 5px 10px rgb(197, 195, 195);
}
