.text {
   position: absolute;
  top: 10%;
  right: 35%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  color: black;
  height: 50%;
  text-align: center;
  font-size: small;
}

body {
    margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  position: relative;
}